<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="@Url.Content("~/Resources/Bootstrap/css/bootstrap.css")" type="text/css">
	<link rel="stylesheet" href="@Url.Content("~/Resources/Features/customer.search/css/customer.search.css")" type="text/css" />
	<title>Test2Can</title>
	<script type="text/javascript" src="@Url.Content("~/Scripts/jquery-2.0.3.min.js")"></script>
</head>
	<body>
		<div>
			@RenderBody()
		</div>
	</body>

</html>
